.suggestion {
  cursor: pointer;
}
.suggestion:hover {
  background-color: #f0f0f0;
}

#map {
  min-height: 300px;
  min-width: 200px;
  margin-top: 1rem;
  z-index: 0;
}

/* Make form scrollable */
.form-container {
  height: 100vh;
  overflow-y: auto;
}

/* Ensure the map is fixed to the right */
.map-container {
  height: 90vh;
  overflow-y: auto;
}

.form-required::after {
  content: "*";
  color: var(--bulma-danger);
  line-height: 1;
  margin-right: .15em;
  margin-left: .15em;
  vertical-align: text-top;
  background: none;
}
